<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.agnekdev.planlecturebible">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BibleSearchBissActivity"></activity>

        <activity android:name=".SettingsActivity" />

        <activity android:name=".BibleSearchActivity" />

        <activity android:name=".ChaptersActivity" />

        <activity android:name=".BooksActivity" />
        <activity android:name=".TestamentsActivity" />
        <activity android:name=".BibleActivity" />
        <activity android:name=".ListeLectureActivity" />
        <activity android:name=".ChoosePlanActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name="utilities.AlarmReceiver"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service
            android:name="utilities.AlarmService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>